@font-face {
  font-family: 'Trocchi';
  font-style: normal;
  font-weight: 400;
  src: local('Trocchi Regular'), local('Trocchi-Regular'), url(https://fonts.gstatic.com/s/trocchi/v8/qWcqB6WkuIDxDZLcPrxeuA.ttf) format('truetype');
}
